body {
	background-color: rgb(30, 36, 38);
	color: white;
	font-size: 20px;
	margin: 0;
	font-family: 'Quicksand', sans-serif;
}

.preloader {
	position: fixed !important;
	width: 100%;
	height: 100vh;
	background-color: black;
	display: flex;
	flex-flow: column;
	justify-content: center;
	z-index: 99999;
}

.preloader .preloader-container {
	display: flex;
	flex-flow: row;
	justify-content: center;
}

.preloader-container figure {
	width: 350px;
	height: 200px;
	background-image: url('https://bit.ly/32PiiKH');
	background-size: cover;
}

/*NavBar Starts*/
.navbar {
	padding: 0;
	width: 100%;
	font-size: 15px;
}

/*Page Links starts*/
.item-container {
	padding: 0;
	width: 100%;
	display: flex;
	flex-flow: row;
}

.link {
	color: white;
	text-decoration: none;
	padding: 0 4px 0 0;
}

.item {
	padding: 5px 25px 7px 25px;
	border: 1px solid transparent;
	border-radius: 2px;
	background-color: black;
	box-shadow: 1px 1px 2px black;
}
/*Page Link ends*/

/*Social Icon starts*/
.icon-container {
	padding: 0;
	width: 100%;
	display: flex;
	flex-flow: row-reverse;
	margin-top: -32px;
}

.icon {
	color: white;
	text-decoration: none;
	padding: 5px 15px 7px 15px;
}

/*Social Icon ends*/

/*NavBar Ends*/

/*Body Starts*/

.body {
	margin: 50px 0 0 0;
	width: 100%;
	display: flex;
	flex-flow: row;
	justify-content: center;
}

.body-block {
	width: 95%;
}

.body-title {
	display: flex;
	flex-flow: column;
	font-size: 45px;
	letter-spacing: 4px;
}

.body-title span {
	font-size: 15px;
}

/*line starts*/
.line {
	width: 24%;
	height: 3px;
	background-color: gray;
}
/*line ends*/

/*image container starts*/

.chat-image {
	background-color: transparent !important;
	width: 100%;
	margin: -400px 0 0 0;
	display: flex;
	flex-flow: row;
	justify-content: center;
	
}

.image-container {
	background-color: transparent !important;
	width: 80%;
	display: flex;
	flex-flow: row-reverse;
	
}

.image-container figure {
	background-image: url("../img/chat.png");
	background-size: cover;
	width: 550px;
	height: 350px;
	box-shadow: 10px 10px 5px black;
}

/*image container ends*/
